*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: azure;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1em;
  padding: 1em;
}

.card {
  padding: 0.5em;
  box-shadow: 2px 2px 4px #0000004d;
}
