*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: azure;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.lib-tit {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1em;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1em;
  padding: 1em;
}

.card {
  padding: 0.5em;
  box-shadow: 2px 2px 4px #0000004d;
  border-radius: 10px;
}

.card:hover {
  outline: 3px solid rgb(55, 166, 231);
}

.btn-place {
  padding: 1em;
}

dialog {
  border: 2px solid grey;
  border-radius: 10px;
}

dialog button:first-child {
  margin-bottom: 1em;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5em;
}

.input-text {
  border-radius: 5px;
  width: 100%;
  padding: 0.5em;
}

.btn-area {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.toggle-btn {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
  margin-right: 0.5em;
  background-color: rgb(55, 166, 231);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.delete-btn {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
  background-color: rgb(196, 69, 47);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.toggle-btn:hover {
  background-color: rgb(38, 117, 163);
}

.delete-btn:hover {
  background-color: rgb(161, 38, 16);
}

.open-button {
  border: none;
  padding: 0.5em 1em;
  background-color: rgb(105, 160, 24);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.open-button:hover {
  background-color: rgb(77, 119, 13);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card {
  text-align: center;
  margin-bottom: 0.5em;
}

.submit-btn {
  border: none;
  padding: 0.5em 1em;
  background-color: rgb(105, 160, 24);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
